@import "variables.scss";

h1 {
	text-align: center;
	font-family: Lora;
}

body,
html {
	margin: 0;
	padding: 0;
}

.text-light-green {
	color: $light-green;
}

.text-small {
	font-size: 0.875rem;
}
.text-smaller {
	font-size: 0.8rem;
}

// TODO: Remove color setting from below, replace bs variable
.text-light {
	color: $light !important;
}
.text-primary {
	color: $primary-tan !important;
}
.btn {
	border: none;
	box-shadow: none;
	font-size: 0.875rem;
	height: 3rem;
	font-weight: 700;

	&:focus {
		box-shadow: none;
	}

	&.btn-primary {
		background-color: $primary-tan;
		color: $dark-green !important;

		// TODO: Replace bs variable
		&:hover {
			background-color: $primary-tan-hover;
		}
		&:disabled {
			background-color: $primary-tan-disabled;
		}
		&:active {
			background-color: $primary-tan-active;
		}
	}

	&.btn-light {
		color: $dark-green !important;
		background-color: $light; // TODO: Replace bs variable

		&:hover {
			background-color: $light-hover;
		}
		&:active {
			background-color: $light-active;
		}
	}
}
