@import "../../../styles/variables.scss";

// TODO: This is a WIP
.checkbox {
	border: 1px solid red;
	padding: 10px;

	&::before {
		width: 1rem;
		height: 1rem;
		border: 1px solid red;
		padding: 10px;
	}
}
