@import "../../styles/variables.scss";

.experiences-container {
	display: flex;
	overflow-x: auto;
	flex-wrap: nowrap;

	&::-webkit-scrollbar {
		display: none;
	}

	& > div {
		width: 13rem;
		min-width: 13rem;
		margin-left: 1rem;

		&:last-child {
			margin-right: 1rem;
		}
	}
}

.experience-image-placeholder {
	border: 1px solid $light-gray;
	height: 16rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.7rem;
}

.check-in-time-container {
	margin-bottom: 0.7rem;

	.input {
		width: 5.5rem;
		text-align: center;
	}
}

.separator-line {
	height: 1px;
	width: 100%;
	background-color: $light-gray;
}

.add-media-container {
	border: 1px solid $middle-gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 3rem;
}

button.btn.add-media-btn {
	font-weight: 500 !important;
}

.admin-create-listing-page {
	label {
		font-size: 0.9rem;
	}
}
